<div class="container">
    <div class="row">

        
        <div class="col-md-6 mb-5">
            <div class="card box-shaddow" routerLink="/categories">
                <div class="card-body text-center bg-sec-theme">
                    <h1 class="mt-3 text-theme-pri"><i class="fa-solid fa-clipboard-list fa-fade" style="color: #05855e;"></i></h1>
                    <h2 class="text-theme-pri">Category</h2>
                    <p>Manage your card details here</p>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-5">
            <div class="card box-shaddow" routerLink="/posts">
                <div class="card-body text-center bg-sec-theme">
                    <h1 class="mt-3 text-theme-pri"><i class="fa-solid fa-file-image fa-fade" style="color: #05855e;"></i></h1>
                    <h2 class="text-theme-pri">Posts</h2>
                    <p>Manage your post details here</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-5">
            <div class="card box-shaddow" routerLink="/subscribers">
                <div class="card-body text-center bg-sec-theme">
                    <h1 class="mt-3 text-theme-pri"><i class="fa-solid fa-users fa-fade" style="color: #05855e;"></i></h1>
                    <h2 class="text-theme-pri">Subscribers</h2>
                    <p>Manage your subscribers details here</p>
                </div>
            </div>
        </div>
        
    </div>
</div>